@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Sistema de Cadastro</title>
    </head>

    <body>
        <h1>Cadastro de Carros</h1>
        <p>Seja bem vindo oa sistema de cadastro. <a href="/cadastro/index/">Click aqui</a><br>
        Entrar no sistema de cadastro</p>

        <footer>
            <p> Todos direitos reservados para Thiago Araujo&copy; ETECVAV - Turma Desenvolvimeto de Sistemas 2019-2021 [@DateTime.Now.Year]</p>
        </footer>
    </body>
</html>
