<html>
<head>
    <meta charset="utf-8" />
    <title>Sistema de Cadastro</title>
</head>

<body>
    <h1>Cadastro de Carros</h1>
    <form method="post" action="/cadastro/cadastrocarro">
        <div>
            <label for="fabricante">Fabricante:</label>
            <div>
                <input type="text" id="fabricante" name="fabricante" placeholder="Informe o fabricante..." />
            </div>
            <div>

                @Html.ValidationMessage("fabricante")
            </div>          
        </div>
        <div>
            <label for="modelo">Modelo:</label>
            <div>
                <input type="text" id="modelo" name="modelo" placeholder="Informe o modelo..." />
            </div>
            <div>

                @Html.ValidationMessage("modelo")
            </div>
        </div>
        <div>
            <label for="versao">Versão:</label>
            <div>
                <input type="text" id="versao" name="versao" placeholder="Informe a versao..." />
            </div>
        </div>
        <div>
            <label for="ano">Ano:</label>
            <div>
                <input type="text" id="ano" name="ano" placeholder="Informe o ano..." />
            </div>
            <div>

                @Html.ValidationMessage("ano")
            </div>
        </div>
        <div>
            <label for="cor">Cor:</label>
            <div>
                <input type="text" id="cor" name="cor" placeholder="Informe a cor..." />
            </div>
        </div>
        <button type="submit">Enviar</button>

    </form>

    <footer>
        <p> Todos direitos reservados para Thiago Araujo&copy; ETECVAV - Turma Desenvolvimeto de Sistemas 2019-2021 [@DateTime.Now.Year]</p>
    </footer>
</body>
</html>